/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Caveat|Dosis|Indie+Flower|Quicksand|Nanum+Pen+Script');

:root {
  --primary-color: #8300cf;
  --dark-color: #000000;
  --light-color: #f4f4f4;
  --grey-color: #868686;
  --danger-color: #df2033;
  --success-color: #17a738;
  --font-color: #868686;
  --accent-color: #8300cf;
  --bg-color: #191919;
  --btn-bg-color: #000000;
  --btn-brdr-color: #8300cf;
  --btn-fnt-color: #8300cf;
  --input-bg-color: #303030;
  --input-brdr-color: #303030;
  --input-fnt-color: #9300e9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', 'Indie Flower';
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--bg-color);
  color: var(--font-color);
}

i.hover:hover {
  text-shadow: 2px 2px 3px var(--dark-color);
  font-size: 1.75rem;
  line-height: 0.8;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  /* max-width: 1100px; */
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0 4rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

/* Icon Styles */
.largeicon {
  font-size: 2rem;
  line-height: 1.2;
}

.logo {
  font-size: 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.medium {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.small {
  font-size: 0.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--accent-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--btn-bg-color);
  color: var(--btn-fnt-color);
  padding: 0.1rem 0.9rem;
  font-size: 1rem;
  border: 1px solid var(--btn-brdr-color);
  border-radius: 8px;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  box-shadow: 0 8px 6px -6px black;
  opacity: 0.6;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--btn-bg-color);
  color: #333;
}

.alert {
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.2rem 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--bg-color);
  color: #333;
  border-radius: 8px;
}

.alert-primary {
  background: var(--primary-color);
  color: var(--light-color);
}

.alert-danger {
  background: var(--danger-color);
  color: var(--light-color);
}

.alert-success {
  background: var(--success-color);
  color: var(--light-color);
}

.btn-primary,
.bg-primary,
.badge-primary {
  background: var(--btn-bg-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  border-color: var(--dark-color);
  color: var(--dark-color);
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  border-color: var(--grey-color);
  color: var(--grey-color);
}

.btn-danger,
.bg-danger,
.badge-danger {
  background: var(--btn-bg-color);
  border-color: var(--danger-color);
  color: var(--danger-color);
}

.btn-success,
.bg-success,
.badge-success {
  background: var(--btn-bg-color);
  border-color: var(--success-color);
  color: var(--success-color);
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: var(--dark-color);
  border: var(--btn-brdr-color) solid 1px;
}

.btn:hover {
  opacity: 1;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: var(--font-color);
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  font-family: 'Nanum Pen Script';
  height: 1.5rem;
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.3rem;
  border: 1px solid var(--input-brdr-color);
  border-radius: 8px;
  background-color: var(--input-bg-color);
  color: var(--input-fnt-color);
}

.form select {
  height: 2rem;
}

.form textarea {
  height: 5rem;
  max-width: 100%;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 0.1rem 0.8rem;
  text-align: center;
  margin: 0;
}

.table th {
  background: var(--dark-color);
  color: var(--accent-color);
}

.table tr {
  background: var(--input-bg-color);
}

.table a {
  color: var(--font-color);
}

table a :hover {
  color: var(--accent-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 3rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--accent-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--accent-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--accent-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--accent-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.tab-list {
  /* border-bottom: 1px solid #ccc; */
  float: right;
  padding-right: 1.5rem;
  font-size: 1rem;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0rem 0.75rem 0.1rem 0.75rem;
  text-shadow: 2px 2px 8px var(--dark-color);
}
.tab-list-item:hover {
  color: var(--accent-color);
}
.tab-list-item .tab-label {
  display: none;
}
.tab-list-active {
  font-size: 1.5rem;
  /* padding: 0rem 0.75rem 0.1rem 0.75rem; */
  text-shadow: 2px 2px 8px var(--dark-color);
  background-color: var(--input-bg-color);
  border: solid var(--bg-color);
  border-bottom-color: var(--input-bg-color);
  border-radius: 8px 8px 0 0;
  border-width: 1px 1px 0px 1px;
}
.tab-list-active .tab-label {
  display: block;
}

.dashtab {
  display: flex;
  padding: 1.5rem 0rem;
  width: 100%;
  min-height: 550px;
  background-color: var(--input-bg-color);
  border: solid var(--bg-color);
  border-width: 1px;
  border-radius: 8px;
}

.leftlane {
  flex: 1;
  padding: 0 1rem;
  border-right: solid 1px var(--grey-color);
  display: flex;
  flex-direction: column;
}

.leftlane .header {
  display: flex;
  min-height: 6rem;
}
.leftlane .header .iconholder {
  font-size: 3rem;
  text-shadow: 2px 2px 8px var(--dark-color);
  box-shadow: inset 0 0 8px -3px var(--dark-color);
  box-shadow: 0 0 10px -1px var(--accent-color);
  height: 5rem;
  width: 5rem;
  border: solid 1px var(--accent-color);
  border-radius: 100%;
  background-color: var(--bg-color);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.leftlane .header .textholder {
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.75rem;
}
.leftlane .header .textholder .title {
  flex: 1;
  text-shadow: 2px 2px 8px var(--dark-color);
  color: var(--accent-color);
  text-align: right;
  font-size: 2rem;
}
.leftlane .header .textholder .subtext {
  flex: 0.75;
  text-shadow: 2px 2px 8px var(--dark-color);
  text-align: right;
  font-size: 1rem;
}
.leftlane .header .textholder .date {
  flex: 0.25;
  text-shadow: 2px 2px 8px var(--dark-color);
  text-align: right;
  color: var(--accent-color);
  font-size: 0.75rem;
}

.leftlane .content {
  flex: 1;
  padding: 0.5rem;
  border: solid var(--grey-color);
  border-width: 1px 0px;
}
.leftlane .footer {
  height: 34px;
  padding: 6px 0 0 0;
}
.leftlane .footer .btn {
  height: 28px;
  float: right;
  margin: 0 0 0 0.5rem;
}

.rightlane {
  flex: 1;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.rightlane .header {
  display: flex;
  height: 2.75rem;
  line-height: 0rem;
}
.rightlane .header .search {
  display: flex;
  box-shadow: inset 0 0 8px -3px var(--dark-color);
  text-shadow: 1px 1px 2px var(--dark-color);
  height: 2rem;
  width: 50%;
  padding: 0.25rem;
  border: 1px solid var(--bg-color);
  border-radius: 8px;
  background-color: var(--bg-color);
}
.rightlane .header .search:hover {
  border: 1px solid var(--accent-color);
}

.rightlane .header .search i {
  flex: 0.1;
  font-size: 1.4rem;
  text-shadow: 2px 2px 3px var(--dark-color);
}
.rightlane .header .search input {
  flex: 1;
  padding: 0 0 0 0.5rem;
  color: var(--input-fnt-color);
  text-shadow: 2px 2px 3px var(--dark-color);
  font-size: 1.5rem;
  font-family: 'Nanum Pen Script';
  background-color: #00000000;
  border: none;
  height: 100%;
}

.rightlane .header .icon-group i:hover {
  color: var(--input-fnt-color);
}

.rightlane .content {
  flex: 1;
  padding: 0.5rem;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: inset 0 0 8px -3px var(--dark-color);
}

.rightlane .content .listitem {
  display: flex;
  background-color: var(--input-bg-color);
  border-radius: 8px;
  height: 5rem;
  margin-bottom: 0.5rem;
}

.rightlane .content .listitem:hover {
  /* height: 5.1rem; */
  text-shadow: 2px 2px 8px var(--dark-color);
  box-shadow: 0 0 18px -3px var(--dark-color);
  border-radius: 10px;
  border: 1.5px solid var(--accent-color);
}

.rightlane .content .listitem .leftside {
  /* flex: 1; */
  width: 3rem;
  text-align: center;
  padding: 7px;
  background-color: var(--input-bg-color);
  border-radius: 8px 0 0 8px;
  border-right: 1px solid var(--accent-color);
}

.rightlane .content .listitem:hover .leftside {
  background-color: var(--accent-color);
}

.rightlane .content .listitem .leftside .iconholder {
  height: 2.25rem;
  width: 2.25rem;
  /* display: table-cell; */
  vertical-align: middle;
  text-align: center;
  padding: 5px;
  background-color: var(--dark-color);
  border-radius: 100%;
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 18px -3px var(--accent-color);
}

.rightlane .content .listitem:hover .leftside .iconholder {
  border-color: var(--dark-color);
  box-shadow: 0 0 18px -3px var(--dark-color);
}

.rightlane .content .listitem .leftside .iconholder i {
  font-size: 1.25rem;
}

.rightlane .content .listitem .middle {
  flex: 1;
  background-color: var(--input-bg-color);
  border-left: 4px solid var(--dark-color);
  padding: 8px;
}

.rightlane .content .listitem .middle .textholder {
  flex: 1;
  line-height: 1.75rem;
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
}
.rightlane .content .listitem .middle .textholder .top {
  height: 2rem;
  display: flex;
  flex-direction: row;
}
.rightlane .content .listitem .middle .textholder .top .title {
  flex: 1;
  font-size: 1.5rem;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-right: 8px;
}
.rightlane .content .listitem:hover .middle .textholder {
  color: var(--accent-color);
}
.rightlane .content .listitem .middle .textholder .top .date {
  flex: 0.25;
  text-align: right;
  min-width: 4rem;
  font-size: 0.75rem;
  color: var(--grey-color);
  flex-wrap: nowrap;
  overflow: hidden;
}
.rightlane .content .listitem .middle .textholder .bottom {
  /* flex: 1; */
  height: 2rem;
  border-top: 1px solid var(--grey-color);
  display: flex;
  flex-direction: row;
}

.rightlane .content .listitem .middle .textholder .bottom .subtext {
  flex: 1;
  color: var(--grey-color);
  overflow: hidden;
  font-size: 0.75rem;
}
.rightlane .content .listitem .middle .textholder .bottom .meta {
  flex: 0.1;
  min-width: 3rem;
  font-size: 0.75rem;
  flex-wrap: nowrap;
  text-align: right;
}

.rightlane .content .listitem .rightside {
  /* flex: 1; */
  width: 1.5rem;
  background-color: var(--grey-color);
  margin: 4px;
  border-radius: 1.5rem;
  /* border-left: 4px solid var(--dark-color); */
}

.rightlane .footer {
  height: 34px;
  padding: 6px 0 0 0;
}

.icon-group {
  text-align: right;
  font-size: 1.5rem;
  flex: 1;
  height: 32px;
  padding: 4px;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .medium {
    font-size: 1.5rem;
  }

  .small {
    font-size: 0.5rem;
  }

  .lead {
    font-size: 0.75rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 5rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
